/* .sidebar {
    height: 100%;
    max-width: 300px;
    color: #9e1854;
    display: flex;
    align-items: flex-end;
  } */

/* .sidebar {
    width: 228px;
    margin-left: 1020px;
    max-width: 300px;
    padding: none;
    display: flex;
    align-items: center;
}
.sidebar p {
    display: flex;
    margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #9e1854; */
/* } */